body {
    background-image: url("images/background.jpg");
    font-family: 'Gamja Flower', cursive;
    color: purple;
    line-height: 1.8;
 }

 h1 {
     text-align: center;
     color:indigo;
     font-family: 'Gamja Flower', cursive;
 }

 h6 {
    text-align: center;
    color:indigo;
    font-family: 'Gamja Flower', cursive;
 }

.bigbox, .Answers, .ScoreKeeper, .correctKeeper, .incorrectKeeper {
    background: rgba(255, 217, 0, 0.911);
    color: purple;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10%;
    text-align: center;
}

#questionBox, #timerBox {
    background: rgba(255, 217, 0, 0.911);
    color: purple;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10%;
    text-align: center;
}

.buttonContainer {
    align-items: center;
    text-align: center;
}